{% extends 'base_generic.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row justify-content-center my-login-margin">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Edit Profile</h4>
                </header>
                <div class="card-body">
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    {{ form.username.errors }}
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                    <small>{{ form.username.help_text }}</small>
                                </div>
                                <div class="col">
                                    {{ form.email.errors }}
                                    {{ form.email.label_tag }}
                                    <input type="email" name="email" class="form-control" value="{{ form.email.value }}" maxlength="254" id="id_email">
                                    <small>{{ form.email.help_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    {{ form.first_name.errors }}
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                    <small>{{ form.first_name.help_text }}</small>
                                </div>
                                <div class="col">
                                    {{ form.last_name.errors }}
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                    <small>{{ form.last_name.help_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ profile_form.bio.errors }}
                            {{ profile_form.bio.label_tag }}
                            {{ profile_form.bio }}
                            <small>{{ profile_form.bio.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    {{ profile_form.location.errors }}
                                    {{ profile_form.location.label_tag }}
                                    {{ profile_form.location }}
                                     <small>{{ profile_form.location.help_text }}</small>
                                 </div>
                                 <div class="col">
                                     {{ profile_form.birth_date.errors }}
                                     {{ profile_form.birth_date.label_tag }}
                                     {{ profile_form.birth_date }}
                                     <small>{{ profile_form.birth_date.help_text }}</small>
                                 </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {% if user.profile.avatar %}
                                <img src="{{ user.profile.get_avatar }}" alt="" class="img-rounded" width="150px">
                                <br>
                            {% endif %}
                            {{ profile_form.avatar.errors }}
                            {{ profile_form.avatar.label_tag }}
                            {{ profile_form.avatar }}
                            <small>{{ profile_form.avatar.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary"> {% trans 'Save' %} </button>
                            <button type="button" class="btn btn-outline-secondary" onclick="history.back(); return false;">
                                {% trans 'Back' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}