{% extends 'base_generic.html' %}
{% load i18n %}
{% block content %}
   <div class="container row">
        <div class="col-12">
            <div class="profile-container">
                <div class="row">
                    <div class="col-md-6 img">
                        <h5>{% trans "USERNAME" %}:</h5>
                        <br>
                        <img src="{{ person_user.get_avatar }}" alt="" class="img-rounded" width="150px">
                        {% if user.email == person_user.email %}
                        <br>
                        <a href="{% url 'edit_profile' %}">{% trans "Edit your profile" %}</a>
                        <br>
                        <a href="{% url 'settings' %}">{% trans "Social accounts" %}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-6 details">
                        <blockquote>
                            <h5>{{ person_user.first_name }} {{ person_user.last_name }}</h5>
                            <small><cite title="Source Title"><i class="icon-map-marker">{{ person_user.location }}</i></cite></small>
                            <br>
                            <small>{{ person_user.birth_date|date:"SHORT_DATE_FORMAT" }}</small>
                            <br>
                            <small><cite title="Source Title"><i class="icon-map-marker">{{ person_user.language }}</i></cite></small>
                        </blockquote>
                        <br>
                        <blockquote>
                            <h5>{% trans "about me" %}</h5>
                            <small>
                                <cite title="Source Title">
                                    <i class="icon-map-marker">{{ person_user.bio }}</i>
                                </cite>
                            </small>
                        </blockquote>
                        <br>
                        <p>
                            {{ person_user.email }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}