#  служебные файлы кроме __init__.py
.DS_Store
db.sqlite3
styles_old.css
webproject/.env
posts/migrations/*.*
posts/templates/depricated/*.*
locale/

__*
!__init__.py

#  отдельные конкретно указанные папки или файлы
.idea/

#  файлы медиа
*.png
*.jpg
*.gif
*.tif
*.rtf
*.doc
*.doco
*.xls
*.xlsx
*.jpeg