{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center my-login-margin">
            <div class="col-md-6">
                <div class="card">
                    <h3 class="text-center pt-5">{% trans "You have successfully logged out!" %}</h3>
                    <div class="card-body text-center"><a href="{% url 'remember_me_login' %}">{% trans "Click here to login again." %}</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
