{% extends "base_generic.html" %}
{% block content %}
   <div class="container">
        <div class="row justify-content-center my-login-margin">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Password reset</h4>
                    </header>
                    <article class="card-body">
                       <form action="" method="post">
                           {% csrf_token %}
                          {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                           <p>{{ form.email.label_tag }}</p>
                          <p>{{ form.email }}</p>
                          <input type="submit" class="btn trigger-btn btn-outline-danger" value="Reset password">
                       </form>
                    </article>
                    <div class="border-top card-body text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
