{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row justify-content-center my-login-margin">
        <div class="col-md-6">
            <div class="card">
                {% if validlink %}
                <header class="card-header">
                    <h4 class="card-title mt-2">{% trans "Password reset (step 2)" %}</h4>
                    <p>{% trans "Please enter (and confirm) your new password." %}</p>
                </header>
                <article class="card-body">

                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">{% trans "New password:" %}</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">{% trans "Confirm password:" %}</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="{% trans 'Change my password' %}" class="btn btn-outline-secondary"/></td>
                            </tr>
                        </table>
                    </form>
                </article>
                {% else %}
                <h1>{% trans "Password reset failed" %}</h1>
                <header class="card-header">
                    <h4 class="card-title mt-2">{% trans "Password reset failed" %}</h4>
                </header>
                <article class="card-body">
                    <p>{% trans "Try one more time." %}</p>
                </article>

                <div class="border-top card-body text-center">
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
