{% load mptt_tags %}
<ul class="navbar-nav">
 {% recursetree menu %}
   {% if not node.is_leaf_node %}
     <li class="nav-item dropdown">
       {% if node.is_root_node %}
         <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       {% else %}
         <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       {% endif %}
       {{ node.name }}</a>
   {% else %}
     {% if node.is_root_node %}
       <li class="nav-item">
       {% if node.reverse_url %}
         {% if node.url_attr %}
           <a class="nav-link" href="{% url node.reverse_url node.url_attr %}">{{ node.name }}</a>
         {% else %}
           <a class="nav-link" href="{% url node.reverse_url %}">{{ node.name }}</a>
         {% endif %}
       {% else %}
         {{ node.name }}
       {% endif %}
     {% else %}
       <li class="dropdown-item">
       {% if node.reverse_url %}
         {% if node.url_attr %}
           <a href="{% url node.reverse_url node.url_attr %}">{{ node.name }}</a>
         {% else %}
           <a href="{% url node.reverse_url %}">{{ node.name }}</a>
         {% endif %}
       {% else %}
         {{ node.name }}
       {% endif %}
     {% endif %}
   {% endif %}
   {% if not node.is_leaf_node %}
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
       {{ children }}
     </ul>
   {% endif %}
 </li>
{% endrecursetree %}
</ul>
