{% load mptt_tags %}
 {% recursetree menu %}
   {% if node.active and not node.footer_node %}
   {% if not node.is_leaf_node %}
     <li>
       {% if node.is_root_node %}
           {% if node.reverse_url %}
             {% if node.url_attr %}
               <a class="header__link" href="{% url node.reverse_url node.url_attr %}">{{ node.name }}</a>
             {% else %}
               <a class="header__link" href="{% url node.reverse_url %}">{{ node.name }}</a>
             {% endif %}
           {% else %}
             {{ node.name }}
           {% endif %}
         <span class="header__arrow arrow"></span>
       {% else %}
           {% if node.reverse_url %}
             {% if node.url_attr %}
               <a class="submenu__link" href="{% url node.reverse_url node.url_attr %}">{{ node.name }}</a>
             {% else %}
               <a class="submenu__link" href="{% url node.reverse_url %}">{{ node.name }}</a>
             {% endif %}
           {% else %}
             {{ node.name }}
           {% endif %}
         <span class="submenu__arrow arrow"></span>
       {% endif %}
   {% else %}
     {% if node.is_root_node %}
       <li>
       {% if node.reverse_url %}
         {% if node.url_attr %}
           <a class="header__link" href="{% url node.reverse_url node.url_attr %}">{{ node.name }}</a>
         {% else %}
           <a class="header__link" href="{% url node.reverse_url %}">{{ node.name }}</a>
         {% endif %}
       {% else %}
         {{ node.name }}
       {% endif %}
     {% else %}
       {% if node.parent.is_root_node %}
           <li>
           {% if node.reverse_url %}
             {% if node.url_attr %}
               <a class="submenu__link" href="{% url node.reverse_url node.url_attr %}">{{ node.name }}</a>
             {% else %}
               <a class="submenu__link" href="{% url node.reverse_url %}">{{ node.name }}</a>
             {% endif %}
           {% else %}
             {{ node.name }}
           {% endif %}
       {% else %}
           <li>
           {% if node.reverse_url %}
             {% if node.url_attr %}
               <a class="subsubmenu__link" href="{% url node.reverse_url node.url_attr %}">{{ node.name }}</a>
             {% else %}
               <a class="subsubmenu__link" href="{% url node.reverse_url %}">{{ node.name }}</a>
             {% endif %}
           {% else %}
             {{ node.name }}
           {% endif %}
       {% endif %}
     {% endif %}
   {% endif %}
   {% if not node.is_leaf_node %}
    {% if node.is_root_node %}
     <ul class="submenu__list">
       {{ children }}
     </ul>
    {% else %}
     <ul class="subsubmenu__list">
       {{ children }}
     </ul>
    {% endif %}
   {% endif %}
 </li>
   {% endif %}
{% endrecursetree %}