/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Пользовательские стили
  ========================================
*/
body {
  background: #fff;
  color: #000;
  font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
  ========================================
  Типографика
  ========================================
  Oswald - заголовки
  Roboto Condensed - текст
  Roboto
*/
h1, h2, h3, h4 {
  color: #648880;
}
/*
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
*/
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}
/*
  ========================================
  Ссылки
  ========================================
*/
a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
/*
p a {
  border-bottom: 1px solid #dfe2e5;
}
*/
.primary-footer a {
  color: #648880;
  text-decoration: none;
}
.primary-footer a:hover {
  color: #a9b2b9;
}
.navbar a {
  text-decoration: none;
}
/*
  ========================================
  Основной заголовок
  ========================================
*/
.logo-first-line {
  border-top: 4px solid #648880;
  float: left;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 15px;
  padding: 10px 5 5px 5;
  text-transform: uppercase;
}
.logo-second-line {
  float: left;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 15px;
  padding: 10px 5 5px 5;
  text-transform: uppercase;
}
.top-bg {
  background: url(header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
/*
  =========================================
  Меню, переопределение
  =========================================
*/
.menu-avatar {
  border-radius: 5%;
  width: 150px;
  vertical-align: middle;
  float: none;
  position: relative;
  padding: 10px 0px 10px 0px;
}
.offset-right {
  padding-right: 50px;
}
.offset-left {
  padding-left: 50px;
}
.mb-2, .my-2 {
  margin-bottom: .1rem !important;
  margin-top: .1rem !important;
}
.navbar {
  padding: 2px;
  border: 1px solid rgba(0,0,0,.15);
}
.bg-custom {
  background-color: #fff; !important;
}
/*
  =======================================
  содержание страницы
  =======================================
*/
.container {
  max-width: 1280px;
  padding: 0px;
}
.my-page-list-border {
  margin: 0px 0px 30px 30px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}

/*
  =======================================
  carousel
  =======================================
*/

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 70%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}
.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}
.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}
.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
/*
  =============================
  footer
  =============================
*/
.primary-footer {
  height: 90px;
  padding-top: 30px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.15);
}
.primary-footer-margin {
  margin-left: 20px;
  margin-right: 20px;
}
/*
  =================================
  main cat page
  =================================
*/
.my-main-cat-itm {
  margin: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-main-cat-itm-img {
  padding: 10px;
}
.my-main-cat-itm-text {
  margin: 0px 10px 10px 10px;
}
/*
  =================================
  sub cat page
  =================================
*/
.my-sub-cat-itm {
  margin: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-sub-cat-itm-img {
  padding: 10px;
}
.my-sub-cat-itm-text {
  margin: 0px 10px 10px 10px;
}
/*
  ===============================
  gallery
  ===============================
*/
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}
/*
  =================================
  Modal delete confirmation
  =================================
*/
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover,
    .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover,
    .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
/*
  ==================================
  modal image popup window
  ==================================
*/
.modal-footer {
	display: flex;
	justify-content: flex-start;
	.btn {
		position: absolute;
		right: 10px;
	}
}
/*
  ============================
  user profile view
  ============================
*/
.profile-container{
    padding:5%;
}
.profile-container .img{
    text-align:center;
}
.profile-container .details{
    border-left:3px solid #ded4da;
}
.profile-container .details p{
    font-size:15px;
    font-weight:bold;
}
/*
  ===========================
  post edit right panel
  ===========================
*/
.my-post-right-panel-border {
  margin: 0px 0px 10px 10px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-post-right-panel-thumbnail {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,.15);
}
/*
  ==========================
  edit profile
  ==========================
*/
.my-avatar-border {
  padding: 2px;
  border: 1px solid rgba(0,0,0,.15);
}
/*
  ===========================
  login & logout
  ===========================
*/
.my-login-margin {
  margin: 50px;
}
/*
  my posts, albums and images
*/
.my-work-list-border {
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-work-list-padding {
  padding: 5px;
}
/*
  ===============================
  under construction
  ===============================
*/
.my-top-margin-100 {
  margin-top: 100px;
}
/*
  ===============================
  post view
  ===============================
*/
.my-post-top {
  padding: 30px;
}
.my-post-article {
  padding: 20px;
}
.my-post-comments {
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-post-comments img {
  padding: 5px;
  border: 1px solid rgba(0,0,0,.15);
}
/*
  ================================
  search
  ================================
*/
.my-search-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-search-box-itm {
  margin: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-search-box-padding {
  padding: 10px;
}
.my-search-box-text-padding {
  margin: 0px 10px 10px 10px;
}
/*
  =================================
  pagination
  =================================
*/
.my-pagination-padding {
  padding: 10px;
}