/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*/
/*
  ========================================
  Пользовательские стили
  ========================================
*/
body {
  background: #fff;
  color: #000;
  font: 1.3em regular 'Open Sans', serif;
}

/*
  ========================================
  Типографика
  ========================================
  Roboto
*/

h1 {
   font: 2.5em 'Roboto', sans-serif;
   font-weight: 900;
   text-transform: uppercase;
   letter-spacing: 0.08em;
}
h2 {
   font: 1.875em 'Roboto', sans-serif;
   font-weight: 800;
   text-transform: uppercase;
   letter-spacing: 0.07em;
}
h3 {
   font: 1.5em 'Roboto', sans-serif;
   font-weight: 700;
   letter-spacing: 0.07em;
}
h4 {
   font: 1.25em 'Roboto', sans-serif;
   font-weight: 600;
   letter-spacing: 0.07em;
}
h5 {
   font: 1.1em 'Roboto', sans-serif;
   font-weight: 500;
   letter-spacing: 0.07em;
}
h6 {
   font: 1em 'Roboto', sans-serif;
   font-weight: 400;
   letter-spacing: 0.07em;
}

p {
   font-weight: 300;
   letter-spacing: 0.05em;
}

span {
   font-weight: 100;
   letter-spacing: 0em;
}

/*
  ==================================
  отзывчивая типографика
  ==================================
*/
html {
  font-size: 1rem;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
/*
  ========================================
  Ссылки
  ========================================
*/

a {
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
  text-decoration: none;
}

/*
  ========================================
  Основной заголовок
  ========================================
*/
.logo-first-line {
  border-top: 4px solid #648880;
  float: left;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 15px;
  padding: 10px 5 5px 5;
  text-transform: uppercase;
}
.logo-second-line {
  float: left;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 15px;
  padding: 10px 5 5px 5;
  text-transform: uppercase;
}
.top-bg {
  background: url(header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
/*
  =========================================
  Меню, переопределение
  =========================================
*/
.menu-avatar {
  border-radius: 5%;
  width: 150px;
  vertical-align: middle;
  float: none;
  position: relative;
  padding: 10px 0px 10px 0px;
}
.offset-right {
  padding-right: 50px;
}
.offset-left {
  padding-left: 50px;
}
.mb-2, .my-2 {
  margin-bottom: .1rem !important;
  margin-top: .1rem !important;
}
.navbar {
  padding: 2px;
  border: 1px solid rgba(0,0,0,.15);
}

.navbar a {
  color: #323232;
  text-decoration: none;
}
.navbar a:hover {
  color: #4C4C4C;
  text-decoration: none;
}

.bg-custom {
  background: #fff;
}

/*
  =======================================
  содержание страницы
  =======================================
*/
.container {
  max-width: 1280px;
  min-height: 430px;
  padding: 0px;
}
.my-page-list-border {
  margin: 0px 0px 30px 30px;
  padding: 20px;
  /* border: 1px solid rgba(0,0,0,.15); */
}

.container h1 {
  margin-top: 20px;
}
/*
  =======================================
  carousel
  =======================================
*/
/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 70%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}
.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}
.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}
.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
/*
  =============================
  footer
  =============================
*/
.primary-footer {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 100px;
  padding-top: 20px;
  background: #fff;
  position: relative;
}
.primary-footer-margin {
  margin-top: 20px;
}
.primary-footer a {
  color: #9D9D9D;
  text-decoration: none;
}
.primary-footer a:hover {
  color: #a9b2b9;
}
/*
  =================================
  main page
  =================================
*/
.my-cat-panel {
  margin-left: 30px;
}
.my-cat-itm {
  margin: 20px;
}
.my-cat-itm-img {
  padding: 10px;
}
.my-cat-itm-text {
  text-align: justify;
  margin: 0px 10px 10px 10px;
}
/*
.my-cat-panel a{
   background-color:#e9f6fc;
   text-decoration:none;
   padding:0px 7px 0px 7px;
   border:1px solid #CFCECE;
   border-radius:1px;
   margin-right:0px;
   color:#007205;
   white-space: nowrap;
}
.my-cat-panel a:hover{
   color:#a43900;
   }
*/
/*
  ===============================
  gallery
  ===============================
*/
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}
/*
  =================================
  Modal delete confirmation
  =================================
*/
	.modal-confirm .modal-content {
		padding: 40px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover,
    .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover,
    .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
/*
  ==================================
  modal image popup window
  ==================================
*/
.modal-footer {
	display: flex;
	justify-content: flex-start;
	.btn {
		position: absolute;
		right: 10px;
	}
}
/*
  ============================
  user profile view
  ============================
*/
.profile-container{
    padding:5%;
}
.profile-container .img{
    text-align:center;
}
.profile-container .details{
    border-left:3px solid #ded4da;
}
.profile-container .details p{
    font-size:15px;
    font-weight:bold;
}
/*
  ===========================
  post edit right panel
  ===========================
*/
.my-right-panel {
  margin-top: 60px;
}
.my-post-right-panel-border {
  margin: 0px 0px 10px 10px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-post-right-panel-thumbnail {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,.15);
}
/*
  ==========================
  edit profile
  ==========================
*/
.my-avatar-border {
  padding: 2px;
  border: 1px solid rgba(0,0,0,.15);
}
/*
  ===========================
  login & logout
  ===========================
*/
.my-login-margin {
  margin: 50px;
}
/*
  ============================
  my posts and images
  ============================
*/
.my-work-list-border {
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-work-list-padding {
  padding: 5px;
}
/*
  ===============================
  under construction
  ===============================
*/
.my-top-margin-100 {
  margin-top: 100px;
}
/*
  ===============================
  post view
  ===============================
*/
article {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
article header {
  margin-bottom: 40px;
}
article h1 {
  margin: 20px;
}
article p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-post-comments {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
.my-post-comments img {
  padding: 5px;
  border: 1px solid rgba(0,0,0,.15);
}

/*
  ================================
  search
  ================================
*/
.my-search-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-search-box-itm {
  margin: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.my-search-box-padding {
  padding: 10px;
}
.my-search-box-text-padding {
  margin: 0px 10px 10px 10px;
}
/*
  =================================
  pagination
  =================================
*/
.my-pagination-padding {
  padding: 10px;
}
/*
  =================================
  обтекаемый блок слева с тегами
  =================================
*/
.tags_block {
    float: right; /* Обтекание по правому краю */
    background: #fff; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    margin-top: 50px;
    margin-left: 20px; /* Отступ справа */
    width: 15%; /* Ширина блока */
}
.tag-link-styles a{
   background-color:#e9f6fc;
   text-decoration:none;
   padding:2px 7px 2px 7px;
   border:1px solid #CFCECE;
   border-radius:6px;
   line-height:1.8;
   margin-right:3px;
   color:#007205;
   white-space: nowrap;
}
.tag-link-styles a:hover{
   color:#a43900;
   }
/*
  =============================
  кнопка наверх
  =============================
*/
#back-top {
    position:fixed;
    top: 60px;
    left: 20px;
}
#back-top a {
    display:block;
    text-align:center;
    font: 12px Arial, Verdana, Tahoma, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    color: #333;
}
#back-top a:hover {
    color:#000;
}
#back-top span {
    display: none;
    width:47px;
    height:47px;
    display:block;
    margin-bottom:7px;
    background:url(back-top-button.png) no-repeat center center;
}

/*
  =============================
  кнопка назад
  =============================
*/
#bck-lnk {
    position: fixed;
    top: 130px;
    left: 20px;
    z-index: 9999;
}
