{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<div>
    <div class="entry">
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}
            <table>
                <thead>
                <h4>Edit</h4>
                </thead>
                <tbody>
                {% for field in form.visible_fields %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                {% if form.errors %}
                {% for key, value in form.errors.items %}
                <tr>
                    <td>
                        <div style="color:red">{{ key }}:{{ value }}</div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <p>
                <input type="submit" value="Submit"/>
            </p>
            {{ img_form.management_form }}
            <table border="1" width="800px">
                {% for form in img_form %}
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                {% for field in form.visible_fields %}
                <tr border="1">
                    <td style="background: cyan; line-height:1; white-space:nowrap; border=1">
                        {{ field.label_tag }}
                    </td>
                    <td style="background: pink; line-height:1; white-space:nowrap; border=1">
                        {{ field}}
                    </td>
                </tr>
                {% endfor %}
                {% if form.errors %}
                {% for key, value in form.errors.items %}
                <tr>
                    <td colspan="2">
                        <div style="color:red">{{ key }}:{{ value }}</div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                {% endfor %}
            </table>
            <p>
                <input type="submit" value="Submit"/>
            </p>
        </form>
    </div>
</div>
{% endblock content %}