{% extends "base_generic.html" %}

{% block content %}
    <h1>Articles List</h1>

    {% if article_list %}
    <ul>

      {% for article in article_list %}
        <hr/>
        <table>
              <tr>
                  <td><img src="{{ article.get_head_image_url }}" width="240"/></td>
                  <td>
                      <p>
                          <a href="{{ article.get_absolute_url }}">
                             {{ article.title }}</a> ({{article.author.last_name}}, {{ article.author.first_name }})
                          <br/>
                          {{ article.summary }}
                      </p>
                  </td>
              </tr>
        </table>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no articles in the list.</p>
    {% endif %}       
{% endblock %}