{% extends "base_generic.html" %}

{% block content %}
<h1>Заголовок H1</h1>
<h2>Заголовок H2</h2>
<h3>Заголовок H3</h3>
<h4>Заголовок H4</h4>
<h5>Заголовок H5</h5>
<h6>Заголовок H6</h6>
<small>это очень мелкий текст ***small***</small><br>
<strong>этот текст обращает на себя внимание ***strong***</strong><br>
<p>До 2000-го года в Каравшине все было спокойно. В 1999 там проводился чемпионат по альпинизму, была куча народа. Затем произошла серия инцидентов, в результате которых посещать этот район перестали. Так, например, в 2000-м году некая группировка моджахедов пересекла границу Киргизии и Таджикистана, проходящую по туркестанскому хребту, с целью в дальнейшем попасть в Узбекистан. Зайдя в ущелье и увидев по дороге лагерь американских альпинистов, находящихся на восхождении на стене пика Желтая стена, они не замедлили захватить их в плен, из коего американцам чудом удалось вырваться. На своем пути в Узбекистан моджахеды вырезали 27 пограничников, но, видимо поняв, что добраться до цели им не удастся, повернули назад, обильно минируя путь своего отхода.</p>
<span>текст в SPAN</span>
<br>
<a href="#">Это гипер ссылка</a>
<br>
Обычный список
<ul>
    <li>Это элемент списка 1</li>
    <li>Это элемент списка 2</li>
</ul>
Нумерованный список
 <ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>
предметы и их описания
 <dl>
  <dt>Coffee</dt>
  <dd>- black hot drink</dd>
  <dt>Milk</dt>
  <dd>- white cold drink</dd>
</dl>
<b>Это текст жирный!!! (b)</b>
<br>
<i>Это ИТАЛИК. наклонный текст. (i)</i>
<br>
<em>какая то шляпа (em)</em>
<br>
<mark>помеченный текст (mark)</mark>
<br>
<del>перечеркнутый (удаленный) текст (del)</del>
<br>
<ins>втавленный текст (ins)</ins>
<br>
текст<sub>текст в основании (sub)</sub>
<br>
текст<sup>текст в степени (sup)</sup>
<br>
Текст: <q>текст в кавычках</q>
<br>
Инверсия текста: <bdo dir="rtl">This text will be written from right to left</bdo>
<br>
Цитата: <cite>The Scream</cite> by Edvard Munch. Painted in 1893.
<br>
Это текст:
<blockquote cite="http://www.worldwildlife.org/who/index.html">цитата с сайта (BLOCKQUOTE)</blockquote>
<br>
<address>
Written by John Doe.<br>
Visit us at:<br>
Example.com<br>
Box 564, Disneyland<br>
USA
</address>
<br>
The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.
{% endblock %}