{% extends "base_generic.html" %}
{% block content %}
  <div class="container row">
        <div class="col-10">
            <h2 class="text-center">{{ album.title }}</h2>
        <p>by {{ album.author.last_name }}, {{ album.author.first_name }}</p>
        <h6>{{ album.description }}</h6>
            <div class="gallery-row my-page-list-border">
                {% if img_count > 0 %}
                <div class="gallery-column">
                    {% for img in album_images_1 %}
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ img.get_original }}">
                       <img src="{{ img.get_image }}" alt="{{ img.alt_text }}">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for img in album_images_2 %}
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ img.get_original }}">
                       <img src="{{ img.get_image }}" alt="{{ img.alt_text }}">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for img in album_images_3 %}
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ img.get_original }}">
                       <img src="{{ img.get_image }}" alt="{{ img.alt_text }}">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for img in album_images_4 %}
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ img.get_original }}">
                       <img src="{{ img.get_image }}" alt="{{ img.alt_text }}">
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <p>There are no images in the album.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-2 my-right-panel">
            <h5 class="text-center">New posts</h5>
            <div class="row my-right-panel-item">
                <div>
                    <div class="my-right-panel-itm-image">
                        <a href="post.html"><img src="static/images/post_sm.jpg" width="100%"></a>
                    </div>
                    <div class="my-right-panel-itm-text">
                        <a href="post.html">Parette di Arnad - Tiko Saab</a>
                    </div>
                </div>
            </div>
            <div class="row my-right-panel-item">
                <div>
                    <div class="my-right-panel-itm-image">
                        <a href="post.html"><img src="static/images/post_sm.jpg" width="100%"></a>
                    </div>
                    <div class="my-right-panel-itm-text">
                        <a href="post.html">Parette di Arnad - Tiko Saab</a>
                    </div>
                </div>
            </div>
            <div class="row my-right-panel-item">
                <div>
                    <div class="my-right-panel-itm-image">
                        <a href="post.html"><img src="static/images/post_sm.jpg" width="100%"></a>
                    </div>
                    <div class="my-right-panel-itm-text">
                        <a href="post.html">Parette di Arnad - Tiko Saab</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}