{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ list_name }}</h1>

    {% if album_list %}
    <ul>

      {% for album in album_list %}
        <hr/>
        <table>
              <tr>
                  <td>
                      <img src="{{ album.get_thumbnail }}" class="img-thumbnail" width="100%"/>
                  </td>
                  <td>
                      <p>
                          <a href="{{ album.get_absolute_url }}">
                             {{ album.title }}</a> ({{album.author.last_name}}, {{ album.author.first_name }})
                          <br/>
                          {{ album.description }}
                      </p>
                  </td>
              </tr>
        </table>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no {{ list_name }} in the list.</p>
    {% endif %}       
{% endblock %}