{% extends "base_generic.html" %}
{% block content %}
<div class="w3-content" style="max-width:1500px">
<div class="w3-bar-block w3-center">
        <h1>{{ album.title }}</h1>
        <p>by {{ album.author.last_name }}, {{ album.author.first_name }}</p>
        <h6>{{ album.description }}</h6>
</div>
    {% if img_count > 0 %}
    <div class="w3-row-padding" id="myGrid" style="margin-bottom:128px">
    {% for img in album_images_1 %}
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="{{ img.get_image }}" class="w3-hover-opacity img-thumbnail" style="width:100%">
            <div class="w3-container w3-white">
                <p>{{ img.alt_text }}</p>
            </div>
        </div>
    {% endfor %}
    {% for img in album_images_2 %}
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="{{ img.get_image }}" class="w3-hover-opacity img-thumbnail" style="width:100%">
            <div class="w3-container w3-white">
                <p>{{ img.alt_text }}</p>
            </div>
        </div>
    {% endfor %}
    {% for img in album_images_3 %}
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="{{ img.get_image }}" class="w3-hover-opacity img-thumbnail" style="width:100%">
            <div class="w3-container w3-white">
                <p>{{ img.alt_text }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
    {% else %}
    <div class="w3-bar-block w3-center">
        <p>There are no images in the album</p>
    </div>
    {% endif %}
</div>
{% endblock %}