{% extends "base_generic.html" %}
{% block content %}
    <div class="container row">
        <div class="col-12">
            <div class="my-work-list-border">
                {% for post in post_list %}
                {% if forloop.first %}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-2">
                                <form method="get" action="{% url 'post_create' %}">
                                    <button type="submit" class="btn btn-outline-primary">New post</button>
                                </form>
                            </div>
                            <div class="col text-center">Post</div>
                        </div>
                    </div>
                    <div class="col-1">Type</div>
                    <div class="col-1">Published</div>
                    <div class="col-1">Main Category</div>
                    <div class="col-1">Sub Category</div>
                    <div class="col-1">Third Category</div>
                    <div class="col-1">Status</div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                </div>
                <hr>
                {% endif %}
                <div class="row my-work-list-padding">
                    <div class="col"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></div>
                    <div class="col-1">{{ post.type }}</div>
                    <div class="col-1">{{ post.date_published|date:"SHORT_DATE_FORMAT" }}</div>
                    <div class="col-1">{{ post.main_category }}</div>
                    <div class="col-1">{{ post.sub_category }}</div>
                    <div class="col-1">{{ post.third_category }}</div>
                    <div class="col-1">{{ post.status }}</div>
                    <div class="col-1">
                        <form method="get" action="{% url 'post_update' post.id %}">
                            <button type="submit" class="btn btn-outline-secondary">Edit</button>
                        </form>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'post_delete' post.id %}"
                           class="confirm-delete" title="Delete" data-toggle="modal"
                           data-target="#taskModal" onclick="getUrl('{% url 'post_delete' post.id %}')">
                            <button class="btn trigger-btn btn-outline-danger">Delete</button>
                        </a>
                    </div>
                </div>
                {% empty %}
                <div><h5 class="text-center">You didn't post anything yet.</h5></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end content block -->
{% endblock %}
