{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="container row">
    <div class="col-12">
        <h2 class="text-center">Edit image</h2>
        <div class="my-page-list-border">
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                {{ field }}
                {% endfor %}
                <div class="form-group">
                    <img src="{{ image.get_image }}" width="200px"/>
                </div>
                <div class="form-group">
                    <p>{{ form.orignal.errors }}</p>
                    <label for="{{ form.original.id_for_label }}">{{ form.original.label_tag }}</label>
                    {{ form.original }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-10">
                            <p>{{ form.alt_text.errors }}</p>
                            <label for="{{ form.alt_text.id_for_label }}">{{ form.alt_text.label_tag }}</label>
                            {{ form.alt_text }}
                        </div>
                        <div class="col-2">
                            <p>{{ form.common.errors }}</p>
                            <label for="{{ form.common.id_for_label }}">{{ form.common.label_tag }}</label>
                            {{ form.common }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}