{% extends "base_generic.html" %}

{% block content %}
    <div class="container row">
        <div class="col-12">
            <h2 class="text-center">Images</h2>
            <div class="gallery-row my-page-list-border">
                {% if img_count > 0 %}
                <div class="gallery-column">
                    {% for img in common_images_1 %}
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ img.get_original }}">
                       <img src="{{ img.get_image }}" alt="{{ img.alt_text }}">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for img in common_images_2 %}
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ img.get_original }}">
                       <img src="{{ img.get_image }}" alt="{{ img.alt_text }}">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for img in common_images_3 %}
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ img.get_original }}">
                       <img src="{{ img.get_image }}" alt="{{ img.alt_text }}">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for img in common_images_4 %}
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ img.get_original }}">
                       <img src="{{ img.get_image }}" alt="{{ img.alt_text }}">
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <p>There are no images in the list.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}