{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container row">
    <div class="col-12">
        <h2 class="text-center">{% trans "Edit image" %} {{image}}</h2>
        <div class="my-page-list-border">
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                {{ field }}
                {% endfor %}
                <div class="form-group">
                    <img src="{{ image.get_image }}" width="200px"/>
                </div>
                <div class="form-group">
                    <p>{{ form.orignal.errors }}</p>
                    {{ form.original.label_tag }}
                    {{ form.original }}
                </div>
                <div class="form-row">
                    <div class="form-group col">
                            <p>{{ form.alt_text.errors }}</p>
                            {{ form.alt_text.label_tag }}
                            {{ form.alt_text }}
                    </div>
                        <div class="form-group col">
                            <p>{{ form.tags.errors }}</p>
                            {{ form.tags.label_tag }}
                            {{ form.tags }}
                        </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <p>{{ form.common.errors }}</p>
                        {{ form.common }}
                        {{ form.common.label_tag }}
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">{% trans "Save" %}</button>
                <button type="button" class="btn btn-outline-secondary" onclick="history.back(); return false;">
                    {% trans 'Back' %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}