{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container row">
    <div class="col-8">
        <h2 class="text-center">{% trans "Edit post" %}</h2>
        <div class="my-page-list-border">
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                {{ field }}
                {% endfor %}
                <div class="form-group">
                    <p>{{ form.title.errors }}</p>
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <div class="form-group">
                    {{ form.summary.errors }}
                    {{ form.summary.label_tag }}
                    {{ form.summary }}
                </div>
                <div class="form-group">
                    {{ form.body.errors }}
                    {{ form.body.label_tag }}
                    <input type="button" class="btn btn-outline-info" value="<img>"
                           onclick="insert_IMG_AtCaret('id_body')">
                    <input type="button" class="btn btn-outline-info" value="<a href>"
                           onclick="insert_AHREF_AtCaret('id_body')">
                    {{ form.body }}
                </div>
                <div class="form-group">
                    {{ form.thumbnail_url.errors }}
                    {{ form.thumbnail_url.label_tag }}
                    {{ form.thumbnail_url }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ form.type.errors }}
                            {{ form.type.label_tag }}
                            {{ form.type }}
                        </div>
                        <div class="col">
                            {{ form.status.errors }}
                            {{ form.status.label_tag }}
                            {{ form.status }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ form.main_category.errors }}
                            {{ form.main_category.label_tag }}
                            {{ form.main_category }}
                        </div>
                        <div class="col">
                            {{ form.sub_category.errors }}
                            {{ form.sub_category.label_tag }}
                            {{ form.sub_category }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p>{{ form.tags.errors }}</p>
                    {{ form.tags.label_tag }}
                    {{ form.tags }}
                </div>
                <button type="submit" class="btn btn-outline-primary">{% trans "Save" %}</button>
                <button type="button" class="btn btn-outline-secondary" onclick="history.back(); return false;">
                    {% trans 'Back' %}
                </button>
            </form>
        </div>
    </div>
    <div class="col-4">
        <h5 class="text-center my-right-panel">{% trans "Photo-basket" %}:</h5>
        <div class="row my-post-right-panel-border">
            {% for img in basket %}
            <div class="col-md-6">
                <div class="thumbnail my-post-right-panel-thumbnail">
                    <a href="#">
                        <img src="{{ img.image.get_image }}" alt="Lights" width="100%">
                    </a>
                    <div class="caption">
                        <p>
                            <input type="button" value="m"
                                   onclick="insert_URL_AtCaret('id_body', '{{ img.image.get_image }}')">
                            <input type="button" value="o"
                                   onclick="insert_URL_AtCaret('id_body', '{{ img.image.get_original }}')">
                        </p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-6">{% trans "No images in basket" %}.</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}