{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
    <div class="container row">
        <div class="col-12">
            <div class="my-work-list-border">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-2">
                                <a href="{% url 'post_create' %}">
                                    <button class="btn-sm btn-outline-primary">{% trans "New post" %}</button>
                                </a>
                            </div>
                            <div class="col text-center">{% trans "Post" %}</div>
                        </div>
                    </div>
                    <div class="col-1">{% trans "Type" %}</div>
                    <div class="col-1">{% trans "Published" %}</div>
                    <div class="col-1">{% trans "Main Category" %}</div>
                    <div class="col-1">{% trans "Sub Category" %}</div>
                    <div class="col-1">{% trans "Status" %}</div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                </div>
                <hr>
                {% for post in post_list %}
                <div class="row my-work-list-padding">
                    <div class="col"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></div>
                    <div class="col-1">{{ post.type.description }}</div>
                    <div class="col-1">{{ post.date_published|date:"SHORT_DATE_FORMAT" }}</div>
                    <div class="col-1">{{ post.main_category.description }}</div>
                    <div class="col-1">{{ post.sub_category.description }}</div>
                    <div class="col-1">{{ post.status }}</div>
                    <div class="col-1">
                        <a href="{% url 'post_update' post.id %}">
                            <button class="btn-sm btn-outline-secondary">{% trans "Edit" %}</button>
                        </a>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'post_delete' post.id %}"
                           class="confirm-delete" title="Delete" data-toggle="modal"
                           data-target="#taskModal" onclick="getUrl('{% url 'post_delete' post.id %}')">
                            <button class="btn-sm trigger-btn btn-outline-danger">{% trans "Delete" %}</button>
                        </a>
                    </div>
                </div>
                {% empty %}
                <div><h5 class="text-center">{% trans "You didn't post anything yet." %}</h5></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end content block -->
{% endblock %}
