{% extends "base_generic.html" %}

{% block content %}
    <div class="container row">
        <div class="col-12">
            <div class="my-work-list-border">
                {% for image in image_list %}
                {% if forloop.first %}
                <div class="row">
                    <div class="col-6">
                        <form method="get" action="{% url 'image_create' %}">
                            <button type="submit" class="btn btn-outline-primary">New Image</button>
                        </form>
                    </div>
                    <div class="col-2">Image code</a></div>
                    <div class="col-2">Common</a></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                </div>
                <hr>
                {% endif %}
                <div class="row my-work-list-padding">
                    <div class="col-6">
                    <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ image.get_original }}">
                       <img src="{{ image.get_image }}" alt="{{ image.alt_text }}" width="100">
                    </a>
                    </div>
                    <div class="col-2">
                        <a role="button" href="#" data-target="#modalIMG"
                       data-toggle="modal" data-whatever="{{ image.get_original }}">
                            {{ image }}
                        </a></div>
                    <div class="col-2">
                         {% if image.common == True %}
                             <input type="checkbox" disabled="disabled" checked="checked"/>
                         {% else %}
                             <input type="checkbox" disabled="disabled"/>
                         {% endif %}
                    </div>
                    <div class="col-1">
                        <form method="get" action="{% url 'image_update' image.id %}">
                            <button type="submit" class="btn btn-outline-secondary">Edit</button>
                        </form>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'image_delete' image.id %}"
                           class="confirm-delete" title="Delete" data-toggle="modal"
                           data-target="#taskModal" onclick="getUrl('{% url 'image_delete' image.id %}')">
                            <button class="btn trigger-btn btn-outline-danger">Delete</button>
                        </a>
                    </div>
                </div>
                {% empty %}
                <div><h5 class="text-center">You didn't create anything yet.</h5></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
